#root {
  min-width: 320px;
  min-height: 100vh;
}

html,
body {
  min-width: 320px;
  min-height: 100%;
  background: #060A10;
  overscroll-behavior-y: none;
}

body {
  margin: 0;
}

button,
input,
textarea,
select {
  font: inherit;
}

.MuiDialogTitle-root + .MuiDialogContent-root,
.MuiDialogContent-root,
div.MuiDialogContent-root {
  padding-top: 15px !important;
}
